*.ci
*.ri
*.asd
*.dat
*.sdb
*.sym
*.dfr
*.txt
DPC_TM10_error.exp
DPC_TM10_para.exp
*.hex
*.sym
*.prg
*.chk
*.pdf
*.xlsx
*.rar

/export/old/
/export/log/
/import/log/
/import/old/
/DPC_TM10.pro
/src/SW_VERSION.EXP
PROJECT.EXP
/src/ALARM CONFIGURATION.EXP
/src/PLC CONFIGURATION.EXP
/src/TASK CONFIGURATION.EXP
/src/WORKSPACE.EXP